.form form {
}

.form form input {
  height: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form form input:focus {
  background-color: rgb(213, 231, 243);
}

.form form button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: rgb(12, 121, 194);
  border: none;
  color: white;
}

.form form button:active {
  transform: scale(0.98);
}
